@media screen and (min-aspect-ratio: 1/1) {

    #heading-image{
        background: url('../images/rooms-galway-bay-background.jpg') fixed no-repeat;
        background-size:contain;
        float: left;
        width: 99vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
    }

    #heading-image-text{
        width: 99vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    #heading-image-text h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 5vw;

        z-index: 0;
        color: #2b2b2b;
        background: rgba(255, 255, 255, 0.61);
        border-radius: 10px;
        border: solid #2b2b2b 2px;
        padding: 0 1vw;
    }

    #header-space{
        width: 100%;
    }

    .room-container-size{
        background: white;
        position: relative;
        float: left;
        width: 99vw;
        height: 50vh;
        display: flex;
        align-items: center;
        z-index: 1;
        margin: 2vh 0;
    }

    .room-container-size-mobile{
        display: none;
    }

    .images-container{
        background: inherit;
        box-shadow: 0 6px 20px rgb(0, 0, 0);
        width: 45vw;
        height: 45vh;
        margin-left: 3vw;
        border-radius: 10px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .slide-container {
        background: inherit;
        display:none;
        width:40vw;
        position: absolute;
        height: 40vh;
        align-self: center;
        justify-self: center;

    }

    .slide-container img{
        width: 40vw;
        height: 40vh;
        object-fit: contain;
        
    }

    .numbertext{
        position: absolute;
        padding-top: 1vh;
        margin-left: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: calc(6px + 0.5vw);
    }

    .slide-container-active{
        display: flex;
    }

    .prev, .next {
        cursor: pointer;
        align-self: center;
        width: auto;
        border-radius: 5px;
        color: #2b2b2b;
        font-weight: bold;
        font-size: 2vw;
        transition: 0.6s ease;
        user-select: none;
        z-index: 3;
    }

    .prev{
        margin-right: auto;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    .text-container{
        background: inherit;
        margin-left: 3vw;
        width: 45%;
        height: 90%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
    }

    .text-container p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: calc(7px + 0.7vw);
        text-align: justify;
        margin-top: 2vh;
    }

    .text-container h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: calc(7px + 2.5vw);
        align-self: center;
    }

}

@media screen and (max-aspect-ratio: 1/1) {

    #heading-image{
        background: url('../images/rooms-galway-bay-background.jpg') fixed no-repeat;
        background-size:contain;
        float: left;
        width: 99vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    #heading-image-text{
        width: 99vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    #heading-image-text h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 5vw;
        position: fixed;
        z-index: 0;
        color: #2b2b2b;
        background: rgba(255, 255, 255, 0.61);
        border-radius: 10px;
        border: solid #2b2b2b 2px;
        padding: 0 1vw;
    }

    #header-space{
        width: 100%;
    }

    .room-container-size{
        display: none;
    }

    .room-container-size-mobile{
        background: white;
        position: relative;
        width: 99vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .images-container{
        background: inherit;
        box-shadow: 0 6px 20px rgb(0, 0, 0);
        width: 90vw;
        height: 40vh;
        margin: 0 3vw;
        border-radius: 10px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .slide-container {
        background: inherit;
        display:none;
        width:80vw;
        position: absolute;
        height: 40vh;
        align-self: center;
        justify-self: center;

    }

    .slide-container img{
        width: inherit;
        height: inherit;
        object-fit: contain;
        
    }

    .numbertext{
        position: absolute;
        padding-top: 1vh;
        margin-left: 50%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: calc(6px + 0.5vw);
    }

    .slide-container-active{
        display: flex;
    }

    .prev, .next {
        cursor: pointer;
        align-self: center;
        width: auto;
        border-radius: 5px;
        color: #2b2b2b;
        font-weight: bold;
        font-size: 6vw;
        transition: 0.6s ease;
        user-select: none;
        z-index: 3;
    }

    .prev{
        margin-right: auto;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    .text-container{
        background: inherit;
        margin: 4vh 6vw ;
        width: 89vw;
        height: 90%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
    }

    .text-container p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: calc(10px + 0.7vw);
        text-align: justify;
        margin-top: 2vh;
    }

    .text-container h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 3vw;
        align-self: center;
    }

}