#heading-image{

    float: left;
    width: 99vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
}

#heading-image-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#heading-image-text h2{
    font-size: 10vh;
}

#header-space{
    width: 100%;
}

#services-box{
    float: left;
    margin-left: 4vw;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service-container{
    background: white;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
    width: 32%;
    padding-bottom: 32%;
    margin-bottom: 2%;
    position: relative;
    border-radius: 10px;
}

.service-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    cursor: pointer;
}

.services-text-overlay{
    display: none;
    background:rgba(0, 0, 0, 0.836);
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    
}

.services-text-overlay h4{
    color: white;
    text-align: center;
    margin-bottom: 6vh;
}

.services-text-overlay p{
    color: white;
    text-align: justify;
    margin: 0 2vw 8vh 2vw;
}