#heading-image{
    background: url('../images/cliffs-of-moher-tours-bg.jfif') no-repeat;
    background-position: top center;
    background-size: cover;
    float: left;
    width: 99vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
}

#heading-image-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading-image-text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    color: #2b2b2b;
    background: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    border: solid #2b2b2b 2px;
    padding: 0 1vw;
}

#header-space{
    width: 100%;
}

.room-container-size{
    float: left;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
}

.images-container{
    background: rgb(255, 255, 255);
    box-shadow: 0 6px 20px rgb(0, 0, 0);
    width: 45vw;
    height: 45vh;
    margin-left: 2vw;
    border-radius: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.images-container a{
    align-self: center;
    border-radius: inherit;
}

.images-container img{
    width: 44.5vw;
    height: 44vh;
    object-fit: cover;
    align-self: center;
    border-radius: inherit;
    cursor: pointer;
}

.text-container{
    margin-left: 5vw;
    width: 45%;
    height: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.text-container p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.1vw;
    text-align: justify;
}

.text-container h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    align-self: center;
    margin-bottom: 3vh;
}